.edit-hobby-form {
    margin: 20px;
}
#edit-hobby-form-container label {
    display: block;
    margin-bottom: 10px;
}
#hobby {
    width: 200px;
}
#hobby-message-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin-right: 250px;
    color: red;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
