<div class="edit-hobby-form" id="edit-hobby-form-container">
    <form action="<?php echo $block->getUrl('hobby/account/savehobby'); ?>" method="post" id="edit-hobby-form">
        <label for="hobby">Hobby:</label>
        <select id="hobby" name="hobby">
            <?php foreach ($block->getHobbyOptions() as $option): ?>
                <option value="<?php echo $option['value']; ?>" <?php echo ($option['value'] == $block->getCustomerHobby()) ? 'selected="selected"' : ''; ?>>
                    <?php echo $option['label']; ?>
                </option>
            <?php endforeach; ?>
        </select>
        <button type="submit">Save</button>
    </form>
</div>
