<?php if ($block->isCustomerLoggedIn()): ?>
<div class="hobby-message" id="hobby-message-container">
    <?php echo __('Hobby: %1', $block->getCustomerHobby()); ?>
</div>
<?php endif; ?>

<script>
    require([
        'jquery'
    ], function ($) {
        $(document).ready(function () {
            let hobbyMessageContainer = $('#hobby-message-container');

            $.ajax({
                url: '<?php echo $block->getUrl('hobby/account/updatehobbymessage'); ?>',
                type: 'get',
                dataType: 'json',
                success: function (response) {
                    if (response.hobby) {
                        hobbyMessageContainer.text('Hobby: ' + response.hobby);
                    }
                }
            });
        });
    });
</script>
