<?php
/** @var \Firebird\CurrencyConverter\Block\Adminhtml\System\Config\CurrencyRates $block */
?>

<h2><?php echo __('Currency Rates'); ?></h2>
<table class="admin__table-secondary">
    <thead>
    <tr>
        <th><?php echo __('Base Currency'); ?></th>
        <th><?php echo __('Exchange Rate'); ?></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($block->getCurrencyRates() as $baseCurrency => $exchangeRate): ?>
        <tr>
            <td><?php echo $baseCurrency; ?></td>
            <td><?php echo $exchangeRate; ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
