<?php
/** @var \Firebird\CurrencyConverter\Block\Adminhtml\System\Config\Conversion $block */
$availableCurrencies = $block->getAvailableCurrencies();
?>

<form action="" method="post" id="currency-conversion-form" class="admin__scope-old">
    <input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>" />
    <div class="admin__field">
        <label class="admin__field-label" for="from_currency">From Currency:</label>
        <div class="admin__field-control">
            <select name="from_currency" id="from_currency">
                <?php foreach ($availableCurrencies as $currency): ?>
                    <option value="<?php echo $currency; ?>"><?php echo $currency; ?></option>
                <?php endforeach; ?>
            </select><br>
        </div>
        <label class="admin__field-label" for="to_currency">To Currency:</label>
        <div class="admin__field-control">
            <select name="to_currency" id="to_currency">
                <?php foreach ($availableCurrencies as $currency): ?>
                    <option value="<?php echo $currency; ?>"><?php echo $currency; ?></option>
                <?php endforeach; ?>
            </select><br>
        </div>
        <label class="admin__field-label" for="amount">Amount:</label>
        <div class="admin__field-control">
            <input type="text" name="amount" id="amount">
        </div>
    </div><br>
    <div class="admin__field-control">
        <button type="submit" id="converter-button" class="action-default">
            <span>Convert</span>
        </button>
    </div>
</form><br>
<div id="conversion-result" style="padding: 10px; background-color: #f0f0f0; border: 1px solid #ccc; margin-top: 10px; font-size: 16px; text-align: center;"></div>
<script>
    requirejs(['jquery'], function ($) {
        $("#converter-button").click(function (event) {
            event.preventDefault();
            let formurl = '<?php echo $block->getConvertUrl(); ?>';
            let formData = new FormData();
            formData.append('form_key', jQuery('[name="form_key"]').val());
            formData.append('from_currency', jQuery('[name="from_currency"]').val());
            formData.append('to_currency', jQuery('[name="to_currency"]').val());
            formData.append('amount', jQuery('[name="amount"]').val());
            console.log(formData);
            $.ajax({
                type: 'POST',
                url: formurl,
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.result) {
                        let convertedAmount = parseFloat(response.result.converted_amount).toFixed(4);
                        let resultContainer = $('#conversion-result');
                        resultContainer.html('Converted Amount: ' + convertedAmount);
                    } else {
                        alert('Conversion failed. Please try again.');
                    }
                },
                error: function () {
                    alert('An error occurred during conversion. Please try again later.');
                }
            });
        });
    });
</script>
